body {
    .wrapper {
        .services-content {
            padding: 30px 40px;
            .services-title {
                color: #fca312;
            }
            .services-wrapper {
                padding: 45px 20px;
                .card-img-top {
                    max-height: 180px;
                }
                .card-info-footer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    .price {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
            }
        }
        
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5%;
            background-color: rgb(248 249 250) !important
        }

        footer .uade-logo {
            position: absolute;
            right: 1vmin;
            bottom: 1vmin;
            height: calc(50% + 15px);
            margin: auto;
            left: 0;
            text-align: center;
            z-index: 1;

        }
    }

}