<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>

<body style="background-image: url('assets/fondobw.png')">
    <div class="wrapper">
        <header class="navbar">
            <span class="logo">
                <img src="./assets/electric-icon.png" />
                <h1>ELECTRIC-SOLUTIONS</h1>
            </span>
            <nav class="options">
                <a href="index.html">Inicio</a>
                <a href="sobreNosotros.html">Sobre Nosotros</a>
                <a href="servicios.html">Servicios</a>
                <a href="contacto.html">Contactanos</a>
            </nav>
        </header>
        <section >
            <div class="services-wrapper">
                <h1 class="section-title">CONOCE NUESTROS SERVICIOS</h1>
                <div class="card-list">
                    <div class="card">
                        <div class="card-header">
                            <p class="title">Instalación</p>
                        </div>
                        <div class="card-body">
                            <p class="description">Nos enorgullecemos de ofrecer servicios de instalación eléctrica de primera calidad para hogares, negocios y proyectos comerciales. Nuestro equipo de expertos electricistas está dedicado a proporcionar soluciones eléctricas seguras, eficientes y adaptadas a tus necesidades específicas. Ya sea que estés construyendo una nueva casa, renovando una propiedad existente o necesitando actualizar tu sistema eléctrico, estamos aquí para hacer el trabajo correctamente desde el principio. Ofrecemos una amplia gama de servicios de instalación eléctrica.
                            </p>
                            <p class="price">$50.000</p>
                            <button>Contactanos</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="title">Reparación</p>
                        </div>
                        <div class="card-body">
                            <p class="description">¿Experimentando problemas con tus instalaciones eléctricas? ¡No te preocupes más! En ELECTRIC-SOLUTIONS, nos especializamos en ofrecer servicios de reparación eléctrica confiables y profesionales para resolver cualquier problema que puedas tener. Nuestro equipo de expertos electricistas está altamente capacitado y cuenta con años de experiencia en la identificación y solución de una amplia gama de problemas eléctricos. Ya sea que necesites reparar un interruptor defectuoso, solucionar problemas de cableado, reemplazar tomas de corriente o cualquier otro servicio eléctrico, estamos aquí para ayudarte.
                            </p>
                            <p class="price">$40.000</p>
                            <button>Contactanos</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="title">Calefacción</p>
                        </div>
                        <div class="card-body">
                            <p class="description">
                            Nos especializamos en ofrecer servicios completos de instalación y reparación de sistemas de calefacción para garantizar que tu hogar esté siempre cómodo y acogedor, independientemente del clima exterior. Nuestro equipo de expertos en calefacción está listo para ayudarte con una amplia gama de servicios. Estamos aquí para brindarte la tranquilidad que necesitas, sabiendo que tu sistema de calefacción está en manos expertas. ¡Confía en nosotros para todos tus servicios de calefacción y vive con comodidad en cualquier temporada!


                            </p>
                            <p class="price">$80.000</p>
                            <button>Contactanos</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <footer>
            <img class="uade-logo" src="./assets/uade-logo.png" />
        </footer>

    </div>
</body>

</html>